html {
    background-color: lightcoral;
}
div.inlineTextSelectButton {
  padding-left: 10px;
  padding-right: 10px;
}
div.warningMessage {
  text-align: center;
}
div.contentContainer {
  padding-top: 10px;
}
